# ignore office files
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# ignore image files
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.webp

!*.assets/*.png
!*.assets/*.jpg
!*.assets/*.jpeg
!*.assets/*.bmp
!*.assets/*.gif
!*.assets/*.webp
